# Challenge 21: Deep Learning
## deep_learning_challenge.ipynb
The goal is to build a model to predict success of projects funded by the Alphabet Soup Charity.
The data set describes hostorical proposal and their outcome and has these features:
- APPLICATION_TYPE (17 values)
- AFFILIATION ( 6 values)
- CLASSIFICATION ( 71 values)
- USE_CASE ( 5 values )
- ORGANIZATION ( 4 values )
- STATUS ( 2 values )
- INCOME_AMT ( 9 values )
- SPECIAL_CONSIDERATIONS ( values )
- ASK_AMT ( 8747 values )
The target is: 
- IS_SUCCESSFUL  ( 2 values )
- The data set was edited as follows:
1. The columns 'EIN' and 'NAME' were dropped as uninformative.
2. The column 'APPLICATION_TYPES' has 17 unique values, but many of them occur infrequently.  'APPLICATION_TYPES' with less than 500 counts were condensed into a single 'Other' category.
3. The column 'CLASSIFICATION' has 71 unique values, 26 of them singletons. The single count 'CLASSIFICATION' values were consolidated into an 'Other' category
4. OneHot encoding was used to convert categorical values into numeric values
### A keras sequential model was built with these characteristics:
> - input layer: 2 units, activation="relu"
> - 1 hidden layer with 4 units, activation="relu"
> - 1 output layer with 1 unit, activation="sigmoid"
> - Optimzer: 'Adam'
> - Loss function: binary-crossentropy
> - Metrics: accuracy
### After training on scaled data, the model was run for 100 epochs. It achieved:
> Accuracy: 0.7191
> Loss: 0.5763

## Preprocessing

### - Import dependencies

In [275]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

### - Import pandas and read the charity_data.csv
### from the provided cloud URL into dataframe, and inspect
- 'import pandas as pd'
- 'application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")'
- 'application_df.head()'

In [278]:
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### - drop the  ID columns, 'EIN' and 'NAME'; inspect
- 'application_df.drop(columns=['EIN','NAME'], inplace=True)'
- 'application_df.head()'

In [280]:
application_df.drop(columns=['EIN','NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### - determine the number of unique values in each column.
- 'unique_values = application_df.nunique()'
- 'print(unique_values)'

In [282]:
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

### - get the number of rows and columns
- 'row_col = application_df.shape'
- 'print(f"Number of rows: {row_col[0]}")'
- 'print(f"Number of columns: {row_col[1]}")'

In [287]:
row_col = application_df.shape
print(f"Number of rows: {row_col[0]}")
print(f"Number of columns: {row_col[1]}")

Number of rows: 34299
Number of columns: 10

### - get the data types of dataframe column values
- 'application_df.info()'

In [290]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

### inspect CLASSIFICATION value counts to identify infrequent types;

In [293]:
counts = application_df['CLASSIFICATION'].value_counts()
count_keys = counts.index
#print(f"keys: {count_keys} values: {counts}")

for i in range(len(counts)):
    print(f"CLASSIFICATION: {count_keys[i]}, COUNT {counts[i]}")

CLASSIFICATION: C1000, COUNT 17326
CLASSIFICATION: C2000, COUNT 6074
CLASSIFICATION: C1200, COUNT 4837
CLASSIFICATION: C3000, COUNT 1918
CLASSIFICATION: C2100, COUNT 1883
CLASSIFICATION: C7000, COUNT 777
CLASSIFICATION: C1700, COUNT 287
CLASSIFICATION: C4000, COUNT 194
CLASSIFICATION: C5000, COUNT 116
CLASSIFICATION: C1270, COUNT 114
CLASSIFICATION: C2700, COUNT 104
CLASSIFICATION: C2800, COUNT 95
CLASSIFICATION: C7100, COUNT 75
CLASSIFICATION: C1300, COUNT 58
CLASSIFICATION: C1280, COUNT 50
CLASSIFICATION: C1230, COUNT 36
CLASSIFICATION: C1400, COUNT 34
CLASSIFICATION: C7200, COUNT 32
CLASSIFICATION: C2300, COUNT 32
CLASSIFICATION: C1240, COUNT 30
CLASSIFICATION: C8000, COUNT 20
CLASSIFICATION: C7120, COUNT 18
CLASSIFICATION: C1500, COUNT 16
CLASSIFICATION: C1800, COUNT 15
CLASSIFICATION: C6000, COUNT 15
CLASSIFICATION: C1250, COUNT 14
CLASSIFICATION: C8200, COUNT 11
CLASSIFICATION: C1238, COUNT 10
CLASSIFICATION: C1278, COUNT 10
CLASSIFICATION: C1235, COUNT 9
CLASSIFICATION: C1237, COUNT 9
CLASSIFICATION: C7210, COUNT 7
CLASSIFICATION: C2400, COUNT 6
CLASSIFICATION: C1720, COUNT 6
CLASSIFICATION: C4100, COUNT 6
CLASSIFICATION: C1257, COUNT 5
CLASSIFICATION: C1600, COUNT 5
CLASSIFICATION: C1260, COUNT 3
CLASSIFICATION: C2710, COUNT 3
CLASSIFICATION: C0, COUNT 3
CLASSIFICATION: C3200, COUNT 2
CLASSIFICATION: C1234, COUNT 2
CLASSIFICATION: C1246, COUNT 2
CLASSIFICATION: C1267, COUNT 2
CLASSIFICATION: C1256, COUNT 2
CLASSIFICATION: C2190, COUNT 1
CLASSIFICATION: C4200, COUNT 1
CLASSIFICATION: C2600, COUNT 1
CLASSIFICATION: C5200, COUNT 1
CLASSIFICATION: C1370, COUNT 1
CLASSIFICATION: C1248, COUNT 1
CLASSIFICATION: C6100, COUNT 1
CLASSIFICATION: C1820, COUNT 1
CLASSIFICATION: C1900, COUNT 1
CLASSIFICATION: C1236, COUNT 1
CLASSIFICATION: C3700, COUNT 1
CLASSIFICATION: C2570, COUNT 1
CLASSIFICATION: C1580, COUNT 1
CLASSIFICATION: C1245, COUNT 1
CLASSIFICATION: C2500, COUNT 1
CLASSIFICATION: C1570, COUNT 1
CLASSIFICATION: C1283, COUNT 1
CLASSIFICATION: C2380, COUNT 1
CLASSIFICATION: C1732, COUNT 1
CLASSIFICATION: C1728, COUNT 1
CLASSIFICATION: C2170, COUNT 1
CLASSIFICATION: C4120, COUNT 1
CLASSIFICATION: C8210, COUNT 1
CLASSIFICATION: C2561, COUNT 1
CLASSIFICATION: C4500, COUNT 1
CLASSIFICATION: C2150, COUNT 1

/var/folders/2v/kgb9p_hn6ss9mqhg1hbvvgxh0000gn/T/ipykernel_11651/516944095.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"CLASSIFICATION: {count_keys[i]}, COUNT {counts[i]}")

### - collect the singleton CLASSIFICATIONs in a list

In [296]:
classification_to_replace = []
for i in range(len(counts)):
    if counts.iloc[i] == 1:
        classification = count_keys[i]
        classification_to_replace.append(classification)
print(classification_to_replace)

['C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

### - consolidate the singleton CLASSIFICATIONs in 'Other'

In [299]:
for cls in classification_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

### - check that consolidation of CLASSIFICATION was successful

In [302]:
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: count, dtype: int64

### Success; the singleton CLASIFICATIONs are consolidated into an 'Other' group with 26 instances

### inspect APPLICATION_TYPE value counts to identify infrequent types;

In [306]:
counts = application_df['APPLICATION_TYPE'].value_counts()
count_keys = counts.index
print(f"keys: {count_keys} values: {counts}")

keys: Index(['T3', 'T4', 'T6', 'T5', 'T19', 'T8', 'T7', 'T10', 'T9', 'T13', 'T12',
       'T2', 'T25', 'T14', 'T29', 'T15', 'T17'],
      dtype='object', name='APPLICATION_TYPE') values: APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [308]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### collect application_types with less than 500 counts
### in list application_types_to_replace 
- 'application_types_to_replace = []'
- 'for i in range(len(counts)):<br>
   > if counts.iloc[i] < 500:<br>
    > > application = count_keys[i]<br>
    > > application_types_to_replace.append(application)'<br>
- 'print(application_types_to_replace) \'

In [311]:
application_types_to_replace = []
for i in range(len(counts)):
    if counts.iloc[i] < 500:
        application = count_keys[i]
        application_types_to_replace.append(application)
print(application_types_to_replace)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

### - replace low counts (< 500) in dataframe with "Other"
- 'for app in application_types_to_replace:'
    > 'application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")'

In [314]:
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

### - Check to make sure replacement was successful: OK

In [317]:
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [319]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### - Get column headers
- 'application_df.columns'

In [322]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

### - generate categorical variable list
- 'application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()'
- 'application_cat'

In [325]:
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### - check the number of unique values in each catgorical column
- 'application_df[application_cat].nunique()'

In [328]:
application_df[application_cat].nunique()

APPLICATION_TYPE           9
AFFILIATION                6
CLASSIFICATION            46
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

### - create One-Hot Encoder Instance
### NOTE using OneHot encoding rather than get_dummies to deal with categorical values
- 'enc = OneHotEncoder(sparse_output=False)'

In [331]:
enc = OneHotEncoder(sparse_output=False)

### - fit and transform One-Hot Encoder using the categortical variables list 'application_cat'
- 'encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))'

In [334]:
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

### - add the encoder variable names to the dataframe
- 'encode_df.columns = enc.get_feature_names_out(application_cat)'
- 'encode_df.head()'

In [337]:
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### - merge One-Hot features and drop the originals
- 'application_df = application_df.merge(encode_df,left_index=True, right_index=True)'
- 'application_df = application_df.drop(application_cat, axis=1)'
- 'application_df.head()'

In [340]:
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### - inspect dataframe with 'info'
- 'application_df.info()'

In [343]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 84 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  float64
 4   APPLICATION_TYPE_T10          34299 non-null  float64
 5   APPLICATION_TYPE_T19          34299 non-null  float64
 6   APPLICATION_TYPE_T3           34299 non-null  float64
 7   APPLICATION_TYPE_T4           34299 non-null  float64
 8   APPLICATION_TYPE_T5           34299 non-null  float64
 9   APPLICATION_TYPE_T6           34299 non-null  float64
 10  APPLICATION_TYPE_T7           34299 non-null  float64
 11  APPLICATION_TYPE_T8           34299 non-null  float64
 12  AFFILIATION_CompanySponsored  34299 non-null  float64
 13  AFFILIATION_Family/Parent     34299 non-null  float64
 14  AFFILIATION_Independent       34299 non-null  float64
 15  AFFILIATION_National          34299 non-null  float64
 16  AFFILIATION_Other             34299 non-null  float64
 17  AFFILIATION_Regional          34299 non-null  float64
 18  CLASSIFICATION_C0             34299 non-null  float64
 19  CLASSIFICATION_C1000          34299 non-null  float64
 20  CLASSIFICATION_C1200          34299 non-null  float64
 21  CLASSIFICATION_C1230          34299 non-null  float64
 22  CLASSIFICATION_C1234          34299 non-null  float64
 23  CLASSIFICATION_C1235          34299 non-null  float64
 24  CLASSIFICATION_C1237          34299 non-null  float64
 25  CLASSIFICATION_C1238          34299 non-null  float64
 26  CLASSIFICATION_C1240          34299 non-null  float64
 27  CLASSIFICATION_C1246          34299 non-null  float64
 28  CLASSIFICATION_C1250          34299 non-null  float64
 29  CLASSIFICATION_C1256          34299 non-null  float64
 30  CLASSIFICATION_C1257          34299 non-null  float64
 31  CLASSIFICATION_C1260          34299 non-null  float64
 32  CLASSIFICATION_C1267          34299 non-null  float64
 33  CLASSIFICATION_C1270          34299 non-null  float64
 34  CLASSIFICATION_C1278          34299 non-null  float64
 35  CLASSIFICATION_C1280          34299 non-null  float64
 36  CLASSIFICATION_C1300          34299 non-null  float64
 37  CLASSIFICATION_C1400          34299 non-null  float64
 38  CLASSIFICATION_C1500          34299 non-null  float64
 39  CLASSIFICATION_C1600          34299 non-null  float64
 40  CLASSIFICATION_C1700          34299 non-null  float64
 41  CLASSIFICATION_C1720          34299 non-null  float64
 42  CLASSIFICATION_C1800          34299 non-null  float64
 43  CLASSIFICATION_C2000          34299 non-null  float64
 44  CLASSIFICATION_C2100          34299 non-null  float64
 45  CLASSIFICATION_C2300          34299 non-null  float64
 46  CLASSIFICATION_C2400          34299 non-null  float64
 47  CLASSIFICATION_C2700          34299 non-null  float64
 48  CLASSIFICATION_C2710          34299 non-null  float64
 49  CLASSIFICATION_C2800          34299 non-null  float64
 50  CLASSIFICATION_C3000          34299 non-null  float64
 51  CLASSIFICATION_C3200          34299 non-null  float64
 52  CLASSIFICATION_C4000          34299 non-null  float64
 53  CLASSIFICATION_C4100          34299 non-null  float64
 54  CLASSIFICATION_C5000          34299 non-null  float64
 55  CLASSIFICATION_C6000          34299 non-null  float64
 56  CLASSIFICATION_C7000          34299 non-null  float64
 57  CLASSIFICATION_C7100          34299 non-null  float64
 58  CLASSIFICATION_C7120          34299 non-null  float64
 59  CLASSIFICATION_C7200          34299 non-null  float64
 60  CLASSIFICATION_C7210          34299 non-null  float64
 61  CLASSIFICATION_C8000          34299 non-null  float64
 62  CLASSIFICATION_C8200          34299 non-null  float64
 63  CLASSIFICATION_Other          34299 non-null  float64
 64  USE_CASE_CommunityServ        34299 non-null  float64
 65  USE_CASE_Heathcare            34299 non-null  float64
 66  USE_CASE_Other                34299 non-null  float64
 67  USE_CASE_Preservation         34299 non-null  float64
 68  USE_CASE_ProductDev           34299 non-null  float64
 69  ORGANIZATION_Association      34299 non-null  float64
 70  ORGANIZATION_Co-operative     34299 non-null  float64
 71  ORGANIZATION_Corporation      34299 non-null  float64
 72  ORGANIZATION_Trust            34299 non-null  float64
 73  INCOME_AMT_0                  34299 non-null  float64
 74  INCOME_AMT_1-9999             34299 non-null  float64
 75  INCOME_AMT_10000-24999        34299 non-null  float64
 76  INCOME_AMT_100000-499999      34299 non-null  float64
 77  INCOME_AMT_10M-50M            34299 non-null  float64
 78  INCOME_AMT_1M-5M              34299 non-null  float64
 79  INCOME_AMT_25000-99999        34299 non-null  float64
 80  INCOME_AMT_50M+               34299 non-null  float64
 81  INCOME_AMT_5M-10M             34299 non-null  float64
 82  SPECIAL_CONSIDERATIONS_N      34299 non-null  float64
 83  SPECIAL_CONSIDERATIONS_Y      34299 non-null  float64
dtypes: float64(81), int64(3)
memory usage: 22.0 MB

### - split the preprocessed data into features ('X') and targets ('y')
- 'y = application_df['IS_SUCCESSFUL'].values'
- 'X = application_df.drop("IS_SUCCESSFUL", axis=1).values'

In [346]:
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

### - split the preprocessed data into a training and testing dataset
- 'X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)'

In [349]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

### - Create a StandardScaler instances
- 'scaler = StandardScaler()'

In [352]:
scaler = StandardScaler()

### - Fit the StandardScaler
- 'X_scaler = scaler.fit(X_train)'

In [355]:
X_scaler = scaler.fit(X_train)

### - Scale the data
- 'X_train_scaled = X_scaler.transform(X_train)'
- 'X_test_scaled = X_scaler.transform(X_test)'

In [358]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### - Define the model: deep neural net
- input layer with 2 neurons; relu activation
- hidden layer with 4 neurons; relu activation
- output layer with 1 neuron; sigmoid activation

### specify the model
- 'nn = tf.keras.models.Sequential()'

In [363]:
nn = tf.keras.models.Sequential()

### - specify the input hidden layer
- 'nn.add(tf.keras.layers.Dense(units=2, activation="relu"))'

In [366]:
nn.add(tf.keras.layers.Dense(units=2, activation="relu"))

### - specify first hidden layer
- 'nn.add(tf.keras.layers.Dense(units=4, activation="relu"))'

In [369]:
nn.add(tf.keras.layers.Dense(units=4, activation="relu"))

### - specify output layer
- 'nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))'

In [372]:
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

### - check the structure of the model

In [375]:
nn.summary()

Model: "sequential_1"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_3 (Dense)                 â”‚ ?                      â”‚   0 (unbuilt) â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_4 (Dense)                 â”‚ ?                      â”‚   0 (unbuilt) â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_5 (Dense)                 â”‚ ?                      â”‚   0 (unbuilt) â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 0 (0.00 B)

 Trainable params: 0 (0.00 B)

 Non-trainable params: 0 (0.00 B)

### - compile the model
- 'nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"]'

In [378]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

### - train the model
- 'fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)'

In [381]:
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 364us/step - accuracy: 0.5902 - loss: 0.6729
Epoch 2/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.6790 - loss: 0.5955
Epoch 3/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7132 - loss: 0.5843
Epoch 4/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7088 - loss: 0.5838
Epoch 5/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7164 - loss: 0.5770
Epoch 6/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 345us/step - accuracy: 0.7176 - loss: 0.5756
Epoch 7/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7110 - loss: 0.5812
Epoch 8/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 341us/step - accuracy: 0.7134 - loss: 0.5780
Epoch 9/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 341us/step - accuracy: 0.7069 - loss: 0.5835
Epoch 10/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 342us/step - accuracy: 0.7152 - loss: 0.5762
Epoch 11/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7191 - loss: 0.5743
Epoch 12/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 344us/step - accuracy: 0.7246 - loss: 0.5700
Epoch 13/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 344us/step - accuracy: 0.7209 - loss: 0.5728
Epoch 14/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7137 - loss: 0.5766
Epoch 15/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 340us/step - accuracy: 0.7148 - loss: 0.5780
Epoch 16/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7146 - loss: 0.5776
Epoch 17/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 343us/step - accuracy: 0.7135 - loss: 0.5755
Epoch 18/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7205 - loss: 0.5735
Epoch 19/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 345us/step - accuracy: 0.7145 - loss: 0.5788
Epoch 20/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 355us/step - accuracy: 0.7192 - loss: 0.5705
Epoch 21/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7118 - loss: 0.5783
Epoch 22/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7200 - loss: 0.5711
Epoch 23/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7122 - loss: 0.5776
Epoch 24/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7150 - loss: 0.5748
Epoch 25/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7145 - loss: 0.5741
Epoch 26/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 353us/step - accuracy: 0.7175 - loss: 0.5705
Epoch 27/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7208 - loss: 0.5669
Epoch 28/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7183 - loss: 0.5725
Epoch 29/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7166 - loss: 0.5719
Epoch 30/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 345us/step - accuracy: 0.7231 - loss: 0.5675
Epoch 31/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7152 - loss: 0.5748
Epoch 32/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 360us/step - accuracy: 0.7168 - loss: 0.5713
Epoch 33/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 356us/step - accuracy: 0.7188 - loss: 0.5714
Epoch 34/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7147 - loss: 0.5733
Epoch 35/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 355us/step - accuracy: 0.7176 - loss: 0.5734
Epoch 36/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7143 - loss: 0.5742
Epoch 37/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7137 - loss: 0.5733
Epoch 38/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7213 - loss: 0.5679
Epoch 39/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7187 - loss: 0.5714
Epoch 40/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7176 - loss: 0.5705
Epoch 41/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7173 - loss: 0.5716
Epoch 42/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7133 - loss: 0.5752
Epoch 43/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7201 - loss: 0.5690
Epoch 44/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7183 - loss: 0.5722
Epoch 45/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 345us/step - accuracy: 0.7208 - loss: 0.5676
Epoch 46/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7187 - loss: 0.5687
Epoch 47/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7194 - loss: 0.5686
Epoch 48/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7204 - loss: 0.5664
Epoch 49/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7191 - loss: 0.5679
Epoch 50/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7200 - loss: 0.5690
Epoch 51/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7174 - loss: 0.5701
Epoch 52/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7115 - loss: 0.5762
Epoch 53/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7194 - loss: 0.5693
Epoch 54/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 354us/step - accuracy: 0.7205 - loss: 0.5687
Epoch 55/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 356us/step - accuracy: 0.7169 - loss: 0.5710
Epoch 56/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7169 - loss: 0.5709
Epoch 57/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7189 - loss: 0.5726
Epoch 58/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 354us/step - accuracy: 0.7145 - loss: 0.5763
Epoch 59/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 471us/step - accuracy: 0.7197 - loss: 0.5717
Epoch 60/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7179 - loss: 0.5715
Epoch 61/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7194 - loss: 0.5713
Epoch 62/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7177 - loss: 0.5734
Epoch 63/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7227 - loss: 0.5669
Epoch 64/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7231 - loss: 0.5707
Epoch 65/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7202 - loss: 0.5706
Epoch 66/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 354us/step - accuracy: 0.7205 - loss: 0.5704
Epoch 67/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7199 - loss: 0.5696
Epoch 68/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 357us/step - accuracy: 0.7222 - loss: 0.5657
Epoch 69/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7290 - loss: 0.5649
Epoch 70/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7262 - loss: 0.5655
Epoch 71/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7205 - loss: 0.5704
Epoch 72/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7208 - loss: 0.5682
Epoch 73/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 353us/step - accuracy: 0.7247 - loss: 0.5698
Epoch 74/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7203 - loss: 0.5708
Epoch 75/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7248 - loss: 0.5662
Epoch 76/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7168 - loss: 0.5770
Epoch 77/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7209 - loss: 0.5692
Epoch 78/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7251 - loss: 0.5671
Epoch 79/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 356us/step - accuracy: 0.7250 - loss: 0.5670
Epoch 80/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7241 - loss: 0.5682
Epoch 81/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7259 - loss: 0.5675
Epoch 82/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7213 - loss: 0.5715
Epoch 83/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7228 - loss: 0.5686
Epoch 84/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7229 - loss: 0.5681
Epoch 85/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7286 - loss: 0.5626
Epoch 86/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7255 - loss: 0.5667
Epoch 87/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7253 - loss: 0.5665
Epoch 88/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 346us/step - accuracy: 0.7250 - loss: 0.5670
Epoch 89/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 355us/step - accuracy: 0.7225 - loss: 0.5707
Epoch 90/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7215 - loss: 0.5717
Epoch 91/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 349us/step - accuracy: 0.7234 - loss: 0.5678
Epoch 92/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 350us/step - accuracy: 0.7218 - loss: 0.5712
Epoch 93/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 352us/step - accuracy: 0.7263 - loss: 0.5649
Epoch 94/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 351us/step - accuracy: 0.7237 - loss: 0.5660
Epoch 95/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7286 - loss: 0.5642
Epoch 96/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 356us/step - accuracy: 0.7297 - loss: 0.5638
Epoch 97/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 355us/step - accuracy: 0.7258 - loss: 0.5664
Epoch 98/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7255 - loss: 0.5648
Epoch 99/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 347us/step - accuracy: 0.7252 - loss: 0.5671
Epoch 100/100
804/804 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 348us/step - accuracy: 0.7273 - loss: 0.5633

### - evaluate the model using the test data
- 'model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)'
- 'print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")'

In [386]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 564us/step - accuracy: 0.7191 - loss: 0.5763
Loss: 0.5763082504272461, Accuracy: 0.7190670371055603

### - export our model to HDF5 file

In [390]:
nn.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.